BETTER_AUTH_SECRET='<better-auth-secret>'
DATABASE_URL=postgres://user:password@host:5432/database
REDIS_URL=redis://user:password@host:6379/0
REDIS_PASSWORD=password
TURNSTILE_SITE_KEY='<turnstile-site-key>'
TURNSTILE_SECRET_KEY='<turnstile-secret-key>'
GOOGLE_CLIENT_ID='<google-client-id>'
GOOGLE_CLIENT_SECRET='<google-client-secret>'
SMTP_HOST=<smtp host>
SMTP_PORT=<smtp port>
SMTP_SECURE=<boolean>
SMTP_USER=<smtp user>
SMTP_PASS=<smtp password>
MAIL_FROM=noreply@mail.readometer.local
