NODE_ENV="development"

PORT=3000

BETTER_AUTH_SECRET='<better-auth-secret>'
BETTER_AUTH_URL=http://localhost:5173

TRUSTED_ORIGINS=http://localhost:5173

DATABASE_URL=postgres://user:password@host:5432/database

# Dummy turnstile secret key that always passes
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA

GOOGLE_CLIENT_ID='<google-client-id>'
GOOGLE_CLIENT_SECRET='<google-client-secret>'

STORAGE_PATH=storage
